<div id="<%= dom_id category %>" class="my-3">
    <%= category.name %>
    <%= link_to t(".edit"), edit_category_path(category), class:"w-full bg-white text-gray-600 px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 my-2" %>
    <%= link_to t(".delete"), category_path(category), data: {
                                                         turbo_method: :delete,
                                                         turbo_confirm: t("common.confirm"),
                                                       }, class:"w-full bg-white text-gray-600 px-4 py-2 rounded-2xl drop-shadow-sm hover:bg-gray-300 my-2" %>
</div>
